#!/bin/bash
# rules	- Script de Regras do Iptables
# Acionado por /etc/init.d/firewall start	
# -----------------------------------------------------------------------------------------  #
# Este Programa tem como objetivo abrir ou bloquear portas e protocolo das redes locais.	 #

#  Licença: LGPL v3 (GNU Lesser General Public License v3.0)								 #
#  #######################################################################################   #

	#Variaveis
IfInternet=eth0
IfLocalClient= '192.100.10.0/255.255.255.0'
IfLocalServer='192.168.100.11'

#	Agora Começa as Regras

# 	Liberar acesso ao loopback – 127.0.0.1
iptables -t filter -A INPUT -s 0/0 -d 127.0.0.1 -j ACCEPT
iptables -t filter -A OUTPUT -s 0/0 -d 127.0.0.1 -j ACCEPT

#	Liberando Acesso a Internet
iptables -t nat -A POSTROUTING -o $IfInternet -j MASQUERADE

#	Libera para as outras duas inet
iptables -A INPUT -s $IfLocalClient -j ACCEPT
iptables -A INPUT -s $IfLocalServer -j ACCEPT

#	Liberando o SSH, ****Fazer de uma forma mais limpinha
iptables -A INPUT -p tcp --dport 22 -j ACCEPT

#	Liberando SSH para rede Server
iptables -t nat -A PREROUTING -p tcp --dport 5000 -j DNAT --to $IfLocalServer:22
iptables -t filter -A FORWARD -p tcp -s 0/0 -d $IfLocalServer --dport 22 -j ACCEPT
iptables -t filter -A FORWARD -p tcp -s $IfLocalServer --sport 22 -d 0/0 -j ACCEPT

#	Fazendo redirecionamento
iptables -t nat -A PREROUTING -i $IfInternet -p tcp --dport 80 -j DNAT --to $IfLocalServer:80
iptables -t nat -A PREROUTING -d 192.100.10.254 -p tcp --dport 80 -j DNAT --to $IfLocalServer:80
iptables -t filter -A FORWARD -p tcp -d $IfLocalServer --dport 80 -j ACCEPT

#	Liberar Ping do Firewall para Internet e Rede LAN
iptables -t filter -A INPUT -p icmp --icmp-type 0 -s 0/0 -i $IfInternet -j ACCEPT
iptables -t filter -A INPUT -p icmp --icmp-type 8 -s $IfLocalClient -d $IfLocalServer -j ACCEPT
iptables -t filter -A INPUT -p icmp --icmp-type 8 -s $IfLocalServer -d $IfLocalClient -j ACCEPT
iptables -t filter -A OUTPUT -p icmp -s 0/0 -d 0/0 -j ACCEPT

#	Liberar DNS apartir do firewall
iptables -t filter -A INPUT -p udp -s 0/0 --sport 53 -d $IfInternet -j ACCEPT
iptables -t filter -A OUTPUT -p udp -i $IfInternet  -d 0/0 --dport 53 -j ACCEPT

#	Liberar DNS e HTTP para rede local
Iptables -t filter -A FORWARD -p udp -s $IfLocalClient --dport 53 -j ACCEPT
Iptables -t filter -A FORWARD -p tcp -s $IfLocalClient --dport 80 -j ACCEPT
Iptables -t filter -A FORWARD -p tcp -s $IfLocalClient --dport 443 -j ACCEPT	
#	Rejeita o que não for explicitamente aberta
Iptables -t filter -A FORWARD -p tcp -s $IfLocalClient -j LOG
Iptables -t filter -A FORWARD -p tcp -s $IfLocalClient -j REJECT

#	Liberar DNS e HTTP para rede Server
Iptables -t filter -A FORWARD -p udp -s $IfLocalServer --dport 53 -j ACCEPT
Iptables -t filter -A FORWARD -p tcp -s $IfLocalServer --dport 80 -j ACCEPT
Iptables -t filter -A FORWARD -p tcp -s $IfLocalServer --dport 443 -j ACCEPT	
#	Rejeita o que não for explicitamente aberta
Iptables -t filter -A FORWARD -p tcp -s $IfLocalServer -j LOG
Iptables -t filter -A FORWARD -p tcp -s $IfLocalServer -j REJECT